<footer class="flex place-content-center">
  <div class="container text-center mt-8 p-10">
    <div class="flex flex-col items-center">
      <div class="flex items-center gap-1 mt-4 mb-4">
        <span class="opacity-55 text-[0.8125rem]/6">Una iniciativa de</span><a
          class="px-1 rounded-3xl hover:scale-110 transition"
          href="https://midu.dev"
          target="_blank"
          rel="noreferrer"
          title="Ir a la página de midudev"
          ><img
            alt="Logo de midudev"
            src="https://midu.dev/logo.png"
            width="92"
            height="28"
            loading="lazy"
          /></a
        >
      </div>
    </div>
  </div>
</footer>
